@model Tuple<List<ProductGroupModel>, List<ProductModel>, BasketModel>

@{
    ViewData["Title"] = "Index";
    ViewData["ItemCount"] = Model.Item3.ItemCount;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string GetProductImageUrl(ProductModel product) => $"/images/" + $"{product.ProductName.ToLower().Replace(' ', '-')}.jpg";
}





    <h2>Products</h2>
    <section id="store">
        <aside>
            <ul>
                <li> <a class="btn btn_primary" asp-action="Index">All Products</a></li>
                @foreach (var item in Model.Item1)
                {
                    @*@Html.DisplayFor(modelItem => item.ProductName)*@
                    @*@Html.DisplayFor(modelItem => item.ProductGroupModelId)*@
                    <li>    <a class="btn btn_primary" asp-action="Category" asp-route-id="@item.ProductGroupModelId">@item.ProductGroupName</a> </li>
                }

                @*<li><a href="#" class="btn btn_primary">Fruit</a></li>
        <li><a href="#" class="btn btn_primary">Veggies</a></li>
        <li><a href="#" class="btn btn_primary">Meat</a></li>
        <li><a href="#" class="btn btn_primary">Dairy</a></li>
        <li><a href="#" class="btn btn_primary">Eggs</a></li>
        <li><a href="#" class="btn btn_primary">Honey</a></li>*@
            </ul>
        </aside>
        <div id="store-grid">
            @foreach (var item in Model.Item2)
            {

                <div class="storeCard">
                    <div class="storeCat">
                        <h3 class="small">@Html.DisplayFor(modelItem => item.ProductName)</h3>
                        @*<p class="label">@item.ProductModelId</p>*@
                    </div>
                    
                    <img src="@GetProductImageUrl(item)" />
                  
                    <form class="addToBasket" action="/Product/AddProductToBasket" method="post">
                        @*<h3 class="small">Apples</h3>*@
                        <input type="hidden" name="id" value="@item.ProductModelId" />
                        <input type="number" class="quantity" name="quantity" min="0" max="100" step="1" value="0" asp-action="Quantity" asp-route-id="@item.ProductModelId">
                        <button class="addButton label" type="submit">Add</button>
                        <span class="label stk">5 stk</span>
                        <span class="label kr">10 kr</span>
                    </form>
                </div>
               
            }


        </div>
    </section>
    <footer>
        <div class="contact">
            <a href="mailto:zerowaist@farmfair.com">zerowaste@farmfair.com</a>
        </div>
        <div class="links">
            <a href="#">Terms of Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
        </div>
    </footer>

