@model Tuple<List<ProductGroupModel>, List<ProductModel>, BasketModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="basketGrid container">

    <div class="basketHeading"><strong>Item</strong></div>
    <div class="basketHeading"><strong>Price</strong></div>
    <div class="basketHeading"><strong>Subtotal</strong></div>
    <div class="basketHeading"><strong>Quantity</strong></div>

    @foreach (var item in Model.Item3.Items)
    {
        var product = Model.Item2.Where(product => product.ProductModelId == item.ProductId).First();

        <div class="basketItem">@product.ProductName</div>
        <div class="basketItem">@product.Price</div>
        <div class="basketItem">@(item.Quantity*product.Price)</div>
        <div class="basketItem flex">
            <form class="basketItemForm" action="/Basket/UpdateBasket" method="post">
                <input type="hidden" name="id" value="@item.ProductId" />
                <input type="number" class="quantity" name="quantity" min="0" max="100" step="1" value="@item.Quantity" asp-action="Quantity" asp-route-id="@item.ProductId">
                <button class="label" type="submit"><i class="sun feather-refresh-cw"></i></button>

            </form>
            <form class="basketRemove" action="/Basket/RemoveBasket" method="post">
                <input type="hidden" name="id" value="@item.ProductId" />

                <button class="label" type="submit"><i class="olive feather-x-circle"></i></button>

            </form>
        </div>
    }
<div class="basketItem">
    @Model.Item3.ComputeTotalValue(Model.Item2).ToString("c")
</div>

        <div class="basketButtons flex">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Product">Continue shopping</a>
            <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Checkout</a>
        </div>

    </div><!--End basket summary-->