@model Tuple<List<ProductGroupModel>, List<ProductModel>, BasketModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item3.Items)
        {
            var product = Model.Item2.Where(product => product.ProductModelId == item.ProductId).First();
            <tr>
                <td>
                    @product.ProductName
                </td>
                <td>
                    @product.Price
                </td>
                <td>
                    @(item.Quantity*product.Price)
                </td>
                <td>
                    <form class="addToBasket" action="/Basket/UpdateBasket" method="post">
                        <input type="hidden" name="id" value="@item.ProductId" />
                        <input type="number" class="quantity" name="quantity" min="0" max="100" step="1" value="@item.Quantity" asp-action="Quantity" asp-route-id="@item.ProductId">
                        <button class="addButton label" type="submit">Update</button>

                    </form>
                    <form class="addToBasket" action="/Basket/RemoveBasket" method="post">
                        <input type="hidden" name="id" value="@item.ProductId" />

                        <button class="addButton label" type="submit">Remove</button>

                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Item3.ComputeTotalValue(Model.Item2).ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Product">Continue shopping</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Customer">
        Checkout
    </a>
   
</div>

